# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
replay_pid*
/06-Code/SystemForBakery/nbproject/private/
/newcode/SystemForBakery/nbproject/private/
/newcode/SystemForBakery/build/
/06-Code/SystemForBakery/build/
/Code version Adrizzx/SystemForBakeryV1.2/nbproject/private/
/Code version Adrizzx/SystemForBakeryV1.2/build/
/nv2.0/SystemBakery2.0/nbproject/private/
/nv2.0/SystemBakery2.0/build/
/Proyect 2.0 (ultimate version)/SystemBakery2.0/build/
/Proyect 3.0 (ultimate version)/SystemBakery3.0/nbproject/private/
/Proyect 3.0 (ultimate version)/SystemBakery3.0/build/
/06-Code/SystemBakery/nbproject/private/
/06-Code/SystemBakery/build/
/06-Code/SystemBakery/dist/
